<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title> Login </title> 
        <link rel="stylesheet" href="static\login.css">        
    </head> 
    <body> 
        <div class="logincontent" align="center"> 
            <div class="logintop"> 
                <h1>Entre com sua conta</h1> 
            </div><br>
            <div class="loginbottom"> 
              <form action="{{ url_for('login')}}" method="post" autocomplete="off"> 
            <div class="msg">{{ msg }}</div> 
            <input type="text" name="username" placeholder="Nome de usuário" class="textbox" id="username" required>
            <input type="password" name="password" placeholder="Senha" class="textbox" id="password" required> 
            <input type="submit" class="btn" value="Entrar"> 
              </form>   
              <p class="worddark">Novo por aqui? <a class="worddark" href="{{ url_for('register')}}">Criar conta</a></p> 
            </div> 
        </div> 
    </body> 
</html> 