<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Register</title> 
    <link rel="stylesheet" href="../static/style.css">        
</head> 
<body> 
    <div class="registercontent" align="center"> 
        <div class="registertop"> 
            <h1>Register</h1> 
        </div></br></br> 
        <div class="registerbottom"> 
            <form action="{{ url_for('register')}}" method="post" autocomplete="off"> 
                <div class="msg">{{ msg }}</div> 
                <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br> 
                <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br> 
                <select name="chat" id="chat"> <!-- Adicionado o atributo name -->
                    <option value="Chat">1. Utiliza somente chat</option>
                    <option value="Video">2. Utiliza somente vídeo</option>
                    <option value="Chat e Video">3. Utiliza ambos</option>
                </select>
                <input type="submit" class="btn" value="Register"> 
            </form> 
            <p class="worddark">Already have an account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p> 
        </div> 
    </div> 
</body> 
</html>
