<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Register</title> 
    <link rel="stylesheet" href="../static/register.css">        
</head> 
<body> 
    <div class="registercontent" align="center"> 
        <div class="registertop"> 
            <h1>Crie sua conta</h1> 
        </div></br>
        <div class="registerbottom"> 
            <form action="{{ url_for('register')}}" method="post" autocomplete="off"> 
                <div class="msg">{{ msg }}</div> 
                <input type="text" name="username" placeholder="Insira seu nome de usuário" class="textbox" id="username" required>
                <input type="password" name="password" placeholder="Insira sua senha" class="textbox" id="password" required> 
                <select name="chat" id="chat"> 
                    <option value="Chat">1. Utiliza somente chat</option>
                    <option value="Video">2. Utiliza somente vídeo</option>
                    <option value="Chat e Video">3. Utiliza ambos</option>
                </select>
                <input type="submit" class="btn" value="Criar"> 
            </form> 
            <p class="worddark">Já possui uma conta? <a class="worddark" href="{{ url_for('login')}}">Entrar</a></p> 
        </div> 
    </div> 
</body> 
</html>
