<html lang="en"> 
    <head> 
        <title>update</title> 
        <link rel="stylesheet" href="../static/style.css"> 
    </head> 
    <body bgcolor="#e6ffee"> 
        <div class="one"> 
            <div class="two"> 
                <h1>Side Bar</h1> 
                <ul> 
                    <li><a href="{{url_for('index')}}">Index</a></li> 
                    <li><a href="{{url_for('display')}}">Display</a></li> 
                    <li class="active"><a href="{{url_for('update')}}">Update</a></li> 
                    <li><a href="{{url_for('logout')}}">Log out</a></li> 
                </ul>  
            </div> 
            <div class="content" align="center"> 
                <div class="topbar"> 
                    <h2>Welcome!! You are in Update Page!! </h2>                         
                </div></br></br> 
                <div class="contentbar"> 
                  <h1>Fill Your Details to Update</h1></br> 
              <form action="{{ url_for('update') }}" method="post" autocomplete="off"> 
                    <div class="msg">{{ msg }}</div> 
                    <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br> 
                    <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br> 
                    <select name="chat" id="chat"> <!-- Adicionado o atributo name -->
                      <option value="Chat">1. Utiliza somente chat</option>
                      <option value="Video">2. Utiliza somente vídeo</option>
                      <option value="Chat e Video">3. Utiliza ambos</option>
                    </select>
                    <input type="submit" class="btn" value="Update"> 
              </form>                      
                </div>   
                    </div> 
        </div> 
    </body> 
</html> 