<html lang="en"> 
    <head> 
        <title>update</title> 
        <link rel="stylesheet" href="static\lo\re\update.css"> 
    </head> 
    <body bgcolor="#e6ffee"> 
        <div class="one"> 
            <div class="two"> 
                <ul> 
                    <li><a href="{{url_for('index')}}">Home</a></li> 
                </ul>  
            </div> 
            <div class="content" align="center"> 
    
            </br></br> 
                <div class="contentbar"> 
                  <h1>Dados para Atualização</h1></br> 
              <form action="{{ url_for('update') }}" method="post" autocomplete="off"> 
                    <div class="msg">{{ msg }}</div> 
                    <input type="text" name="username" placeholder="Usuário" class="textbox" id="username" required></br></br> 
                    <input type="password" name="password" placeholder="Senha" class="textbox" id="password" required></br></br> 
                    <select name="chat" id="chat"> <!-- Adicionado o atributo name -->
                      <option value="Chat">1. Utiliza somente chat</option>
                      <option value="Video">2. Utiliza somente vídeo</option>
                      <option value="Chat e Video">3. Utiliza ambos</option>
                    </select>
                    <input type="submit" class="btn" value="Update"> 
              </form>                      
                
        </div> 
    </body> 
</html> 