<html lang="en"> 
    <head> 
        <title>update</title> 
        <link rel="stylesheet" href="static\update.css"> 
    </head> 
    <body> 
       <!--
        <div class="header">
            <a href="{{ url_for('index') }}">Retornar à página inicial</a>
        </div>
       --> 
        <div class="content"> 
            <div class="contentbar">  
                <h1>Dados para Atualização</h1></br> 
            <form action="{{ url_for('update') }}" method="post" autocomplete="off"> 
                <div class="msg">{{ msg }}</div> 
                <input type="text" name="username" placeholder="Novo nome de usuário" class="textbox" id="username" required>
                <input type="password" name="password" placeholder="Nova senha" class="textbox" id="password" required>
                <select name="chat" id="chat">
                    <option value="Chat">1. Utiliza somente chat</option>
                    <option value="Video">2. Utiliza somente vídeo</option>
                    <option value="Chat e Video">3. Utiliza ambos</option>
                </select>
                <input type="submit" class="btn" value="Alterar"> 
            </form>                      
            </div>   
        </div> 
    </body> 
</html> 